.grid-manager-UI-container {
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0.4);
    z-index: 15;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grid-manager-UI-container .gm-btn {
    width: 25px;
    height: 25px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.grid-manager-UI-container .gm-btn.white {
    background: white;
}

.grid-manager-UI-container .gm-btn.grey {
    background: grey;
}

.grid-manager-UI-container .gm-btn.black {
    background: black;
}