.grid-manager-UI-container {
    position: absolute;
    background: black;
    gap: 2px;
    padding: 2px;
    width: 25px;
    height: 25px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.grid-manager-UI-container .gm-btn.white {
    background: white;
}

.grid-manager-UI-container .gm-btn.grey {
    background: grey;
}

.grid-manager-UI-container .gm-btn.black {
    background: black;
}