/* Grid layout for landing page */

#thumbnail-grid,
.thumbnail-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    overflow-y: auto;
}

#thumbnail-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.thumbnail-cell {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.thumbnail-cell canvas,
.thumbnail-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: auto;
    display: block;
}
