/* Grid layout for landing page */

#thumbnail-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50vh;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.thumbnail-cell {
    position: relative;
    overflow: hidden;
}

.thumbnail-cell canvas {
    width: 100%;
    height: 100%;
    display: block;
}
