.archive-grid {
    position: absolute;
    top: 50px;
    /* éloigne du header */
    left: 50px;
    width: 50%;
    height: 60%;
    background: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    z-index: 9999;
}

.archive-cell {
    background: black;
    border: 1px solid red;
    width: 100%;
    aspect-ratio: 16 / 9;
}