/* Bouton en bas à droite */
#toggle-index-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    z-index: 3000;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Index superposé */
#index_container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    z-index: 2000;
    transition: top 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Affichage quand actif */
#index_container.active {
    top: 0;
}


/* Bouton fermer */
#close-index-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
}

.global-index-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    font-family: sans-serif;
}

.global-index-table th,
.global-index-table td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

.global-index-table th {
    background: #111;
    color: #fff;
}