/* Lyrics */
.lyric-word {
    display: inline-block;
    transition: transform 0.05s ease, color 0.05s ease;
    color: white;
}

.lyric-word.bump {
    transform: translate(10px, -10px);
    color: yellow;
}

.lyric-word:hover {
    color: red !important;
}

.lyric-word.bump:hover {
    color: red !important;
}

/* Hovering any word should highlight the full lyrics line */
#lyrics.module:hover .lyric-word {
    color: red !important;
}

/* Speaker */
/* .speaker-name {
    position: absolute;
    top: 0;
    white-space: nowrap;
    transition: transform 0.6s ease;
} */